In [36]:
import csv
import pandas as pd
import pyodbc
import streamlit as st

In [31]:
def init_connection():
    return pyodbc.connect(
        "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
        + st.secrets["server"]
        + ";DATABASE="
        + st.secrets["database"]
        # + ";Trusted_Connection=yes;"
        + ";UID="
        + st.secrets["username"]
        + ";PWD="
        + st.secrets["password"]
    )
def run_query(query):
    conn = init_connection()
    data = pd.read_sql(query, conn)
    data = pd.DataFrame(data)
    return data

In [32]:
sql = "select * from star.FactSales;"
df_factSales = run_query(sql)

sql = "select * from star.FactListen;"
df_factListen = run_query(sql)

sql = "select * from star.FactGenre;"
df_factGenre = run_query(sql)

sql = "select * from star.DimCustomer;"
df_DimCustomer = run_query(sql)

sql = "select * from star.DimEmployee;"
df_DimEmployee = run_query(sql)

sql = "select * from star.DimTrack;"
df_DimTrack = run_query(sql)

sql = "select * from star.DimDate;"
df_DimDate = run_query(sql)

sql = "select * from star.DimGenre;"
df_DimGenre = run_query(sql)

sql = "select * from star.DimAlbum;"
df_DimAlbum = run_query(sql)

C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)
C:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Temp\ipykernel_24668\2327566094.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)

In [33]:
df_DimAlbum.head()

   AlbumId                             AlbumTitle  IsCurrent StartDate EndDate
0        1  For Those About To Rock We Salute You          1      None    None
1        2                      Balls to the Wall          1      None    None
2        3                      Restless and Wild          1      None    None
3        4                      Let There Be Rock          1      None    None
4        5                               Big Ones          1      None    None

In [37]:
# Export FactSales
df_factSales.to_csv('FactSales.csv', index=False)

# Export FactListen
df_factListen.to_csv('FactListen.csv', index=False)

# Export FactGenre
df_factGenre.to_csv('FactGenre.csv', index=False)

# Export DimCustomer
df_DimCustomer.to_csv('DimCustomer.csv', index=False)

# Export DimEmployee
df_DimEmployee.to_csv('DimEmployee.csv', index=False)

# Export DimTrack
df_DimTrack.to_csv('DimTrack.csv', index=False)

# Export DimDate
df_DimDate.to_csv('DimDate.csv', index=False)

# Export DimGenre
df_DimGenre.to_csv('DimGenre.csv', index=False)

# Export DimAlbum
df_DimAlbum.to_csv('DimAlbum.csv', index=False)